body{
    padding-top: 67px;
    background-color: #474f56;
}

table.table-pizza{
    color: white !important;
}

.navbar{
    -webkit-box-shadow: 0 6px 4px -4px black;
    -moz-box-shadow: 0 6px 4px -4px black;
    box-shadow: 0 6px 8px -2px black !important;
}

a.active{
    background-color: #474f56 !important;
    font-weight: bold;
}

.fa.fa-plus{
    font-size: 10px;
}

a[onclick]{
    cursor: pointer;
}
